p {
	margin: 0;
}

.alert {
	display: block;
	margin: var(--s-margin) 0;
	margin-top: 0;
	text-align: center;
	padding: var(--s-padding);
	color: var(--red-500);
}

.alert-success {
	color: var(--red-500);
}
.alert-success {
	color: var(--green-500);
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.flex {
	display: flex;
}

.items-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.gap {
	gap: var(--s-gap);
}

.pd-y {
	padding: var(--s-padding) 0;
}
.pd-x {
	padding: 0 var(--s-padding);
}

.mb {
	margin-bottom: var(--s-margin);
}

.block {
	display: block;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}

.loader {
	width: 48px;
	height: 48px;
	border: 5px solid var(--text-color);
	border-bottom-color: var(--primary-500);
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.text-center {
	text-align: center;
}

.hidden {
	transform: scale(0);
}
