.departments {
	padding: var(--n-padding) 0;

	&__header {
		text-align: center;
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: var(--n-gap);

		@include querys(laptops) {
			flex-direction: row;
		}
	}

	&__select {
		flex: 1;

		&:not(:last-child) {
			margin-bottom: var(--n-margin);
		}
	}

	&__label {
		margin-bottom: var(--n-margin);
	}
}
