.error {
	padding: var(--n-padding);
	border-radius: var(--bradius);
	background-color: var(--red-200);
	border: 1px solid var(--red-600);
	width: 100%;

	&__text {
		text-align: center;
		color: var(--red-600);

		& mark {
			padding: var(--s-padding);
			border-radius: var(--bradius);
			background-color: var(--primary-500);
			color: var(--grey-200);
		}
	}
}
