$size-toggle: 50px;

.scroll-top {
	width: $size-toggle;
	height: $size-toggle;
	font-size: 1.5rem;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 5rem;
	bottom: 1rem;
	z-index: 9999;
	background-color: var(--second-bg);

	@include querys(laptops) {
		left: 5rem;
	}
}
